#centerPost {
    text-align: center;
    max-width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0 auto;
}

#postLinks {
    text-align: center;
}

#postLinks a{
    text-decoration: none;
}

#postLinks a:link {
    background-color: white;
    color: black;
    padding: 8px 10px;

}

#postLinks a:hover {
    background-color: gray
}
